<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" backupGlobals="false" backupStaticAttributes="false" beStrictAboutTestsThatDoNotTestAnything="true"  cacheResultFile="tmp/phpunit/result.cache" colors="true" verbose="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" failOnRisky="true" failOnWarning="true" stopOnFailure="false" executionOrder="default" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <testsuites>
    <testsuite name="PHPinnacle Buffer">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="-1"/>
  </php>
  <coverage processUncoveredFiles="true">
    <include>
      <directory>./src</directory>
    </include>
    <exclude>
      <directory>./tests</directory>
    </exclude>
    <report>
      <clover outputFile="./tmp/phpunit/coverage/clover/index.xml"/>
      <html outputDirectory="./tmp/phpunit/coverage/html" />
    </report>
  </coverage>
</phpunit>
